div
    {
        margin-bottom: 20px;
    }
body
    {
        background-color: aqua;
        
    }
section
    {
        border-radius: 20px; 
        background-color: blue;
        padding: 20px; /*espaçamento interno a direita esquerda acima abaixo*/
        margin: auto;
        margin-top: 60px;
        width: 200px;
    }
    /*mudar a cor do paragrafo*/
    p
    {
        color: oldlace;
    }
